body{
  background-color: #d2bdb0 
}

.app {
  background-color: white;
  min-height: 80hv;
  width: 350px;
  margin: 30px auto;
  padding: 20px 0px;
}

h1{
  font-family: 'Mynerve', cursive;
}

.crossed {
  text-decoration: line-through 1px red;
  background-color: #d6ded5;
}

ul, li {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  font-family: 'Mynerve', cursive;
}

.icon {
  padding: 0px 3px;
}

.container{
  display:flex;
  justify-content: center;
}

.add {
  margin-left: 10px;
 background-color: #60c140;
 font-family: 'Mynerve', cursive;
 padding: 8px;
 color: white;
 font-size: 16px;
 width: 15%;
}

.delete {
  background-color: #f84541;
  font-family: 'Mynerve', cursive;
  color: white;
  font-size: 16px;
}

input {
  font-family: 'Mynerve', cursive;
  padding: 8px;
}